// COLORS

$greyDK: #2c3e50;
$asbestos: #7f8c8d;
$white: #ecf0f1;
$teal: #1abc9c;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $greyDK;
  color: $white;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-weight: 300;
}

// hacks oh god.

.site-wrapper {
  h1 {
    font-size: 4em;
  }
  h3 {}
}

.form-group {
  padding: 0 2px;
}

//// profile

.player {
  .player-header {
    margin-top: 50px;
    border-bottom: 3px solid lighten(#34495e, 10%);
    h1 {
      color: lighten($teal, 15%);
    }
  }

  .player-specs {
    h4 {
      font-size: 2em;
    }
  }
}
