.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        .row
          .col-sm-12
            h1.cover-heading Nerd Calculator
            h3.cover-heading League of Legends Division Calculator
